<%- include("partials/header.ejs", { title: title }) %>

  <div class="coffee-details">
    <p class="coffee-name"><%= coffee.name %></p>
    <p class="origin-name"><%= coffee.origin_name %></p>
    <p class="location"><%= coffee.location %></p>
    <p class="description"><%= coffee.description %></p>
    <h4 class="coffee-price"><%= coffee.price %></h4>
    <h5 class="coffee-stock"><%= coffee.stock %></h4>
  </div>

  <div class="item-actions">
    <a href="/catalog" id="back-btn" class="btn">← Back to Catalog</a>
  </div>

  <script>
  const backBtn = document.getElementById('back-btn');

  backBtn.addEventListener('click', (event) => {
    // window.history.length > 1; check if previous page exists before this on this tab
    // document.referrer checks if previous page was on this website
    if (window.history.length > 1 && document.referrer.includes(window.location.host)) {
      event.preventDefault(); // prevent going back to /catalog
      window.history.back();  // go back to the previous page, preserving url queries
    }
  });
  </script>
<%- include("partials/footer.ejs") %>